@import 'nav.css';


#logo{
  max-width: 100%;
}

body {
  background-color: #C7CFDB;
}

#introBox {
  height: 200px;
  width: 800px;
  background-color:#D9D9D9;
  position: absolute;
  border: 5px solid rgb(107, 104, 104);
  left:350px;
  top:700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

#menuBox {
  height: 60px;
  width: 300px;
  background-color: #09134B;
  position:fixed; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
  border: 5px solid rgb(10, 11, 25);
  position: absolute;
  left:600px;
  top:950px;
}


.head{
  width: 1000px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  object-fit: contain;
 
}

/* Menu Page */


#popularItems {
  height: 100px;
  max-width: 100%;
  background-color: #09134B;
 
}


#veganGF {
  height: 100px;
  width: 1520px;
  background-color: #09134B;
  position:absolute; 
  top:700px;
}

#sweetTreats {
  height: 100px;
  width: 1520px;
  background-color: #09134B;
  position:absolute; 
  top:1380px;
  left: -1px ;
}

#pizzas {
  height: 100px;
  width: 1520px;
  background-color: #09134B;
  position:absolute; 
  top:2050px;
}


.popularitemsclass{
  padding: 30px 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.popularitemsclass::-webkit-scrollbar{
  display: none;
}


.product-card{
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image{
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card-btn{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn{
  opacity: 1;
}

.card-btn:hover{
  background: #efefef;
}

.product-info{
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand{
  text-transform: uppercase;
}


.price{
  font-weight: 900;
  font-size: 20px;
}



.veganandglutenfreeclass{
  padding: 160px 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.veganandglutenfreeclass::-webkit-scrollbar{
  display: none;
}


.product-card{
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image{
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb{
  width: 100%;
  height: 350px;
  object-fit: cover;
}


.card-btn{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn{
  opacity: 1;
}

.card-btn:hover{
  background: #efefef;
}

.product-info{
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand{
  text-transform: uppercase;
}

.product-short-des{
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price{
  font-weight: 900;
  font-size: 20px;
}


.sweettreatsclass{
  padding: 80px 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.sweettreatsclass::-webkit-scrollbar{
  display: none;
}



.product-card{
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image{
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb{
  width: 100%;
  height: 350px;
  object-fit: cover;
}


.card-btn{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn{
  opacity: 1;
}

.card-btn:hover{
  background: #efefef;
}

.product-info{
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand{
  text-transform: uppercase;
}



.price{
  font-weight: 900;
  font-size: 20px;
}



.pizzasclass{
  padding: 150px 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.pizzasclass::-webkit-scrollbar{
  display: none;
}



.product-card{
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image{
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb{
  width: 100%;
  height: 350px;
  object-fit: cover;
}


.card-btn{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn{
  opacity: 1;
}

.card-btn:hover{
  background: #efefef;
}

.product-info{
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand{
  text-transform: uppercase;
}

.product-short-des{
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price{
  font-weight: 900;
  font-size: 20px;
}
