<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Midnight Cravings</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
    
<body>
    <div>
        <img id= "logo" src="../static/images/midnight-cravings-logo.jpg" alt="Midnight Cravings Logo" />
    </div>
    
    <div class="navbar">
        <ul>
            <li><a href=""><img src="../static/images/home.png" alt="home"></a></li>
            <li><a href="/login"> <img src="../static/images/user-icon.png" alt="user"></a></li>
            <li><a href="/cart"><img src="../static/images/tote.svg" alt="menu"></a></li>
        </ul>
    </div>             
       
    <div id="menuBox">
        <a href="/menu"
        style="color:#FFFFFF; 
            font-family: Italiana; 
            font-size: 40px; 
            font-style:Regular; 
            padding-top: 250px;
            padding-right: 50px;
            padding-bottom: 200px;
            padding-left: 50px; ">
        Go to menu</a>
    </div>

    <div id="introBox">
        <p style="color:#0b0732; 
            font-family: Italiana; 
            font-size: 35px; 
            font-style:Bold;
            padding-top: 1px;
            padding-left: 5px;
            padding-right:5px;"> 
        Welcome to Midnight Cravings! The one-stop shop for all the food you desire when you're up past your bedtime.</p> 
    </div>

    <div id="foodCarousel">
        <img class="head" src="../static/images/BBQ-Chicken-Pizza.jpg" alt="">
    </div> 

<script type="text/javascript" src="../static/home.js"></script>
</body>
</html>
