<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Midnight Cravings Menu</title>
  <link rel="stylesheet" href="styles.css">
  <script src="js/home.js"></script>
</head>

<body>
  <div id="popularItems">
    <h1 style="color:#FFFFFF; 
    font-family: Italiana;
    font-size: 80px;  
    font-style:Regular;
    padding-top: 1px;
    padding-left: 500px;
    padding-right:5px;"
    > Popular Items</h1>

</div> 


<div id="veganGF">
  <h1 style="color:#FFFFFF; 
  font-family: Italiana;
  font-size: 80px;  
  font-style:Regular;
  padding-top: 1px;
  padding-left: 400px;
  padding-right:5px;"
  > Vegan and Gluten Free</h1>
  
</div> 


<div id="sweetTreats">
  <h1 style="color:#FFFFFF; 
  font-family: Italiana;
  font-size: 80px;  
  font-style:Regular;
  padding-top: 1px;
  padding-left: 550px;
  padding-right:5px;"
  > Sweet Treats</h1>
  
</div> 


<div id="pizzas">
  <h1 style="color:#FFFFFF; 
  font-family: Italiana;
  font-size: 80px;  
  font-style:Regular;
  padding-top: 1px;
  padding-left: 600px;
  padding-right:5px;"
  > Pizzas </h1>
  
</div> 


<div class="popularitemsclass">
    <div class="product-card">
        <div class="product-image">
            <img src="images/burgers-and-fries.jpg" class="product-thumb" alt="Burger and Fries">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Burger and Fries"/>
            </form>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Burger and Fries</h2>
            <span class="price">$15</span>
        </div>
    </div>

    <div class="product-card">
      <div class="product-image">
          <img src="images/Philly-CheeseSteak-3.jpg" class="product-thumb" alt="Philly Cheesesteak">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Philly Cheesesteak"/>
            </form>
      </div>
      <div class="product-info">
          <h2 class="product-brand">Philly Cheesesteak</h2>
          <span class="price">$17</span>
      </div>
   </div>


<div class="product-card">
  <div class="product-image">
      <img src="images/hotwings.jpeg" class="product-thumb" alt="Hot Wings">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Hot Wings"/>
            </form>
  </div>
  <div class="product-info">
      <h2 class="product-brand">Hot Wings</h2>
      <span class="price">$15</span>
  </div>
</div>

</div>


<div class="veganandglutenfreeclass">
    <div class="product-card">
        <div class="product-image">
            <img src="images/Gluten-Free-Vegan-Pizza.jpg" class="product-thumb" alt="Gluten Free Vegan Pizza">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Gluten Free Vegan Pizza"/>
            </form>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Gluten Free Vegan Pizza</h2>
            <span class="price">$25</span>
        </div>
    </div>

    <div class="product-card">
      <div class="product-image">
          <img src="images/beyondburger-on-a-gluten-free-bun.jpeg" class="product-thumb" alt="Beyond Burger on a Gluten Free Bun">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Beyond Burger on a Gluten Free Bun"/>
            </form>
      </div>
      <div class="product-info">
          <h2 class="product-brand">Beyond Burger on a Gluten Free Bun</h2>
          <span class="price">$15</span>
      </div>
   </div>

   
   <div class="product-card">
    <div class="product-image">
        <img src="images/chipotle-lentil-tacos.jpg" class="product-thumb" alt="Chipotle Lentil Tacos">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Chipotle Lentil Tacos"/>
            </form>
    </div>
    <div class="product-info">
        <h2 class="product-brand">Chipotle Lentil Tacos</h2>
        <span class="price">$12</span>
    </div>
 </div>

 
 <div class="product-card">
  <div class="product-image">
      <img src="images/beyond-beef-tacos.jpg" class="product-thumb" alt="Beyond Beef Tacos">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Beyond Beef Tacos"/>
            </form>
  </div>
  <div class="product-info">
      <h2 class="product-brand">Beyond Beef Tacos</h2>
      <span class="price">$14</span>
  </div>
</div>


<div class="product-card">
  <div class="product-image">
      <img src="images/vegan-nice-cream.jpg" class="product-thumb" alt="Vegan Nice Cream">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Vegan Nice Cream"/>
            </form>
  </div>
  <div class="product-info">
      <h2 class="product-brand">Vegan Nice Cream</h2>
      <span class="price">$9</span>
  </div>
</div>


<div class="product-card">
  <div class="product-image">
      <img src="images/vegan-brownies.jpg" class="product-thumb" alt="Vegan Brownies">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Vegan Brownies"/>
            </form>
  </div>
  <div class="product-info">
      <h2 class="product-brand">Vegan Brownies</h2>
      <span class="price">$4</span>
  </div>
</div>


<div class="product-card">
  <div class="product-image">
      <img src="images/Vegan-Flourless-Chocolate-Cake.jpg" class="product-thumb" alt="Vegan Flourless Chocolate Cake ">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Vegan Flourless Chocolate Cake"/>
            </form>
  </div>
  <div class="product-info">
      <h2 class="product-brand">Vegan Flourless Chocolate Cake</h2>
      <span class="price">$20</span>
  </div>
</div>

</div>

<div class="sweettreatsclass">
    <div class="product-card">
        <div class="product-image">
            <img src="images/Milkshakes.jpg" class="product-thumb" alt="Milkshakes">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Milkshakes"/>
            </form>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Milkshakes</h2>
            <span class="price">$8</span>
        </div>
    </div>

    <div class="product-card">
      <div class="product-image">
          <img src="images/frozenyogurt.jpg" class="product-thumb" alt="Frozen Yogurt">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Frozen Yogurt"/>
            </form>
      </div>
      <div class="product-info">
          <h2 class="product-brand">Frozen Yogurt</h2>
          <span class="price">$7</span>
      </div>
   </div>

   
   <div class="product-card">
    <div class="product-image">
        <img src="images/ice-cream-flavors.jpg" class="product-thumb" alt="Ice Cream">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Ice Cream"/>
            </form>
    </div>
    <div class="product-info">
        <h2 class="product-brand">Ice Cream</h2>
        <span class="price">$5</span>
    </div>
 </div>

 
 <div class="product-card">
  <div class="product-image">
      <img src="images/cupcakes.jpg" class="product-thumb" alt="c=Cupcakes">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Cupcakes"/>
            </form>
  </div>
  <div class="product-info">
      <h2 class="product-brand">Cupcakes</h2>
      <span class="price">$3 for 2</span>
  </div>
</div>


<div class="product-card">
  <div class="product-image">
      <img src="images/Chocolate-Lava-Cakes.jpg" class="product-thumb" alt="Chocolate Lava Cakes">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Chocolate Lava Cakes"/>
            </form>
  </div>
  <div class="product-info">
      <h2 class="product-brand">Chocolate Lava Cakes</h2>
      <span class="price">$5</span>
  </div>
</div>


</div>

<div class="pizzasclass">
    <div class="product-card">
        <div class="product-image">
            <img src="images/pepperoni-pizza.jpg" class="product-thumb" alt="Pepperoni Pizza">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Pepperoni Pizza"/>
            </form>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Pepperoni Pizza</h2>
            <span class="price">$20</span>
        </div>
    </div>

    <div class="product-card">
      <div class="product-image">
          <img src="images/BBQ-Chicken-Pizza.jpg" class="product-thumb" alt="Barbecue Chicken Pizza">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Barbecue Chicken Pizza"/>
            </form>
      </div>
      <div class="product-info">
          <h2 class="product-brand">Barbecue Chicken Pizza</h2>
          <span class="price">$20</span>
      </div>
   </div>

   
   <div class="product-card">
    <div class="product-image">
        <img src="images/meatloverspizza.jpg" class="product-thumb" alt="Meat Lovers Pizza">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Meat Lovers Pizza"/>
            </form>
    </div>
    <div class="product-info">
        <h2 class="product-brand">Meat Lovers Pizza</h2>
        <span class="price">$25</span>
    </div>
 </div>

 
 <div class="product-card">
  <div class="product-image">
      <img src="images/ground-beef-pizza.jpg" class="product-thumb" alt="Ground Beef Pizza">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Ground Beef Pizza"/>
            </form>
  </div>
  <div class="product-info">
      <h2 class="product-brand">Ground Beef Pizza</h2>
      <span class="price">$20</span>
  </div>
</div>


<div class="product-card">
  <div class="product-image">
      <img src="images/hawaiian-pizza-recipe.jpg" class="product-thumb" alt="Hawaiian Pizza">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Hawaiian Pizza"/>
            </form>
  </div>
  <div class="product-info">
      <h2 class="product-brand">Hawaiian Pizza</h2>
      <span class="price">$20</span>
  </div>
</div>


<div class="product-card">
  <div class="product-image">
      <img src="images/veggie-mushroom-and-olives.jpg" class="product-thumb" alt="Veggie Mushroom and Olives Pizza">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Veggie Mushroom and Olives Pizza"/>
            </form>
  </div>
  <div class="product-info">
      <h2 class="product-brand">Veggie Mushroom and Olives</h2>
      <span class="price">$20</span>
  </div>
</div>


<div class="product-card">
  <div class="product-image">
      <img src="images/Margherita-Pizza.jpg" class="product-thumb" alt="Margherita Pizza">
            <form method="post" action="">
                <input type="submit" value="Add to cart" name="Margherita Pizza"/>
            </form>
  </div>
  <div class="product-info">
      <h2 class="product-brand">Margherita Pizza</h2>
      <span class="price">$20</span>
  </div>
</div>

</div>

<form method="post" action="">
    <input type="submit" value = "View cart" name="view cart"/>
</form>

</body>
</html>
